.main_galeria_planos{
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
  

}

.titulo_galeria_planos{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #0B2126;

}

.galeria_planos{
    justify-items: center;
    width: 100%;
    display: grid ;
    /* Esto hace la magia: crea columnas que se ajustan solas */
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;

}


.link_galeria_planos{
    width: 100%;
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del texto (negro por defecto) */
    display: block; /* Asegura que el enlace ocupe todo el espacio de la tarjeta */
}

.container_galeria_planos{
    
    width: 100%; /* Ocupará el espacio que le dé el grid */
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 16px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    position: relative; /* Añadimos esto para posicionar la descripción dentro */


}

.container_galeria_planos:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

    

}

.container_galeria_planos img{
    object-position: center;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    aspect-ratio: 4 / 3;
    
    

    }

.descripcion{
    /* --- Estilos para la capa de descripción --- */
    background-color: rgba(11, 33, 38, 0.85); /* Fondo oscuro semitransparente */
    color: #fff; /* Texto blanco para que contraste */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    /* --- Posicionamiento y ocultado por defecto --- */
    position: absolute; /* La posicionamos sobre la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* La ocultamos por defecto */
    transition: opacity 0.3s ease; /* Transición suave */
}

/* Cuando pasamos el ratón sobre el contenedor, mostramos la descripción */
.container_galeria_planos:hover .descripcion {
    opacity: 1;
}



@media (max-width: 768px){

    .galeria_planos{
        grid-template-columns: repeat(2, 1fr);
    }


}



