<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página en Construcción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/construccion.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Sitio en Construcción</h1>
        <p>Estamos trabajando para traerte algo increíble. ¡Vuelve pronto!</p>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo/logopng.png') }}" alt="Logo">
        </div>
    </div>
</body>
</html>